body{
   background-image:url('back.jpg');
   background-size : cover;
   
}
#wrapper{
    border: 2px solid ;
    background-color: rgb(4, 82, 78);
    color: rgb(255, 255, 255);
    width: 300px;
    height: 400px;
    margin: auto;
    margin-top: 200px;
    padding: 30px;
    border-radius: 32px;
}
h1{
    margin-left: 80px;
}
#input{
    margin-left: 30px;
    margin-top: 30px;
    height: 25px;

}
#todolist{
    color: rgb(255, 255, 255);
    margin-right: 30px;
    font-family:   Arial, sans-serif;
}
#add{
    border-radius: 4px;
    margin-left: 12px;
    background-color: rgb(16, 165, 148);
    color: aliceblue;
    border-color:white;
}
